* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
.greenit {
	color: #59b021;
}
.redit {
	color: red;
}
section {
	text-align: center;
	padding: 20px;
}
section h2 {
	font-size: 2.2rem;
	margin: auto;
}
section h1 {
	font-size: 2em;
	margin-bottom: 10px;
	z-index: 10;
}
section p {
	line-height: 2;
	width: 700px;
	margin: 8px auto;
	text-align: left;
}
header {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	height: 10vh;
}
#logo {
	display: flex;
	align-items: baseline;
	color: #000;
	text-shadow: 0 0 1px;
	font-size: 2rem;
	font-weight: 500;
}
#logo img {
	width: 60px;
	margin-right: -10px;
}
nav {
	display: flex;
	align-items: center;
	width: 70%;
	justify-content: flex-end;
}
nav ul {
	display: flex;
	list-style: none;
	align-items: center;
}
nav a {
	color: rgb(54, 54, 54);
	text-decoration: none;
	margin-right: 20px;
	font-size: 1rem;
	transition: 0.3s;
}
nav a:hover {
	color: #59b021;
}
#hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	background-image: url('../images/hero.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}
#hero::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.tagline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#hero h1 {
	font-size: 3em;
	margin-bottom: 10px;
	z-index: 10;
	color: white;
}
#hero h2 {
	z-index: 10;
	border-top: 1px solid;
	/* border-right: 1px solid; */
	color: white;
	padding: 10px;
	/* border-radius: 20px; */
}
#navigate {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0;
}
#navigate a {
	display: block;
	text-decoration: none;
	color: #000;
	width: 33.3%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	/* margin: 25px; */
	background-color: #58b0218a;
	/* border-radius: 20px; */
	/* box-shadow: 0 2px 2px; */
	transition: 0.3s;
}
#navigate a:hover {
	box-shadow: none;
	transform: scale(1.1);
}
.icon {
	width: 100px;
}
video {
	width: 50%;
	margin: 25px;
}
#introduction p {
	width: 850px;
	margin: 10px auto;
}
#board {
	display: flex;
	justify-content: center;
	align-items: center;
}
#board table {
	border-collapse: collapse;
	border: none;
}
table th {
	font-size: 0.9rem;
	font-weight: 500;
}
table tr:nth-of-type(2n + 1) {
	background-color: rgb(236, 236, 236);
}
table th,
td {
	padding: 10px;
}
table th:nth-of-type(2),
td:nth-of-type(2) {
	width: 300px;
}
